<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pizzarush">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DeliverActivity.AssignR" />
        <activity android:name=".DeliverActivity.regRider" />
        <activity android:name=".DeliverActivity.Riders" />
        <activity android:name=".DeliverActivity.Delivery" />
        <activity android:name=".ItemActivity.add_item"/>
        <activity android:name=".ItemActivity.update_item"/>
        <activity android:name=".ItemActivity.view_item"/>
        <activity android:name=".ItemActivity.itemmenu"/>
        <activity android:name=".Admin"></activity>
        <activity android:name=".CustomerActivity.menu"></activity>
        <activity android:name=".CustomerActivity.Register" />
        <activity android:name=".CustomerActivity.login" />
        <activity android:name=".CustomerActivity.Profile" />
        <activity android:name=".OrderActivity.Order_Menu_Activity"/>
        <activity android:name=".OrderActivity.place_order_pizza"/>
        <activity android:name=".OrderActivity.Summary_Activity"/>
        <activity android:name=".OrderActivity.place_order_beverages"/>
        <activity android:name=".OrderActivity.LocationActivity"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>